.menu-item {
  padding: 20px;

  a {
    display: inline-block;
    text-decoration: none;
    color: $link-gray;
    transition: all 0.2s;

    &:hover {
      color: $white;
      transform: scale(1.05);
    }
  }
}
