.menu {
  display: flex;
  align-items: center;

  .search {
    input {
      font-family: inherit;
      padding: 0.2rem 0.5rem;
      max-width: 200px;

      &:focus {
        outline: none;
      }

      &[type='search' i]::-webkit-search-cancel-button {
        cursor: pointer;
      }
    }
  }

  .menu-items {
    display: flex;
    list-style: none;
  }
}
